@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
  background-color: #4169E1;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.15em;
  min-width: 360px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  border-bottom: 1px solid black;
}

nav h4 {
  margin: 0%;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 30vh;
}

.homeContainer h3 {
  text-align: center;
  width: 3em;
  z-index: 1;
  position: relative;
  left: -50px;
}

.navContainer {
  border: 2px solid black;
}

#america {
  width: 200px;
}

#stats {
  margin: 0%;
  padding: 0.5em 1em;
}