body {
  background-color: #4169E1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}

.homeContainer {
  border: 2px solid black;
  height: 90vh;
}

.navContainer {
  border: 2px solid black;
}